* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #212529;

    font-family: 'Press Start 2P', cursive;
    /* background: #dee2e6; */
}

body {
    background-image: url(assets/bg-image.png);
    
    background-repeat: repeat;
}

a {
    text-decoration: none;
    transition: all 0.4s;
}

button {
    padding: 5px;
    background: rgba(33, 37, 41, 0.2);
    
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 5px white;

    color: white;
    margin-bottom: 10px;

    width: 150px;
}

/* header */
#title {
    padding-top: 30px;
    font-size: 60px;

    text-shadow: 0 0 2px hsl(210, 11%, 15%);
}

#copyright {
    padding-bottom: 35px;
    font-size: 15px;
    text-shadow: 0 0 2px hsl(210, 11%, 15%);
}

/* main */
#main {
    display: flex;
    justify-content: space-around;

    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

/* tools */
#tools {
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tools h3 {
    padding-bottom: 40px;
    color: white;
}

/* color picker */
#color-picker {
    width: 150px;
    height: 80px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 10px;
    border: 3px solid rgb(170, 170, 170);
    box-shadow: 0 0 3px rgb(170, 170, 170);

    margin-bottom: 10px;
}

/* grid size slider */
#slider-value {
    font-size: 15px;
}

#grid-size-slider {
    /* width: 250px; */
    transition: all 0.4s;
    opacity: 0.8;
    stroke: none;
    accent-color: white;
    margin-bottom: 10px;
}

#grid-size-slider .d3slider-rect-value:hover {
    opacity: 1;
}

/* grid */
#grid-container {
    display: grid;

    min-width: 600px;
    min-height: 600px;

    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);  

    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    grid-gap: 1px;
    background: #212529;
/* 
    margin-left: auto;
    margin-right: auto; */
}

.cell {
    text-align: center;
    background: white;
}
